In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
data= [4,8,15,16,23,42]

series =pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
import pandas as pd

In [4]:
my_list=[1,2,4,7,9,12,6,10,13,14]

series = pd.Series(my_list)
print(series)

0     1
1     2
2     4
3     7
4     9
5    12
6     6
7    10
8    13
9    14
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

then print DataFrame

In [6]:
import pandas as pd

In [8]:
data={'Name':['Alice','Bob', 'Claire'],
      'Age':[25,30,27],
      'Gender':['Female','Male','Female'],}

In [9]:
df= pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

in pandas a data frame is a two dimensional labeled data structure with columns of potentially different types.its like a spreadsheet or sql table, where each colum can be of a different datatype.

In [20]:
import pandas as pd

In [21]:
data ={'Name':['John','Anna','Anni','Bob'],
       'Age':[25,30,29,35],
       'City':['New York','Tokyo','Paris','London'],}

In [23]:
df= pd.DataFrame(data)

print("DataFrame:")
print(df)

DataFrame:
   Name  Age      City
0  John   25  New York
1  Anna   30     Tokyo
2  Anni   29     Paris
3   Bob   35    London

In [24]:
ages= pd.Series([25,30,29,35], name='Age')
print("/nSeries:")
print(ages)

/nSeries:
0    25
1    30
2    29
3    35
Name: Age, dtype: int64

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

df.head() Return the first 5 rows of the Dataframe
df.tail(10) Returns the last 10 rows of the data frame

In [ ]:
describe():sumary statics of numerical columns
info():information of data frame
df.shape # Return of numberof rows and columns in the dataframe
df.dropna() Removes rows with any missing values

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

in panda both Series and DataFrame are mutable, meaning their values can be changed after creation however pannel 
obejects are not mutable series and dataframe allows for modifications such as adding  or deleting rows changing values and performing various operations on the data.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [25]:
import pandas as pd

In [26]:
s1= pd.Series([10,20,30,40,50],name='A')
s2 = pd.Series(['a','b','c','d','e'],name='B')
s3= pd.Series([True,False,True,False,True],name='C')

In [ ]:
df= pd.DataFrame({'Column1':s1,'Column2':s2,'Column3':s3})